.blockquote__wrapper {
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5db1+29,ff5db1+29,ef017c+78&1+0,0.46+85 */
background: -moz-linear-gradient(left,  rgba(255,93,177,1) 0%, rgba(255,93,177,0.82) 29%, rgba(239,1,124,0.51) 78%, rgba(239,1,124,0.46) 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,93,177,1) 0%,rgba(255,93,177,0.82) 29%,rgba(239,1,124,0.51) 78%,rgba(239,1,124,0.46) 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,93,177,1) 0%,rgba(255,93,177,0.82) 29%,rgba(239,1,124,0.51) 78%,rgba(239,1,124,0.46) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#75ef017c',GradientType=1 ); /* IE6-9 */
}