.main__photo {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.portfolio-item.image {
    height: 150px;
}