nav {
    position: absolute;
    top: 45px;
    right: 35px;
    background: white;
    min-width: 150px;
    text-align: center;
}

.navigation a {
    display: block;
    padding: 12px;
}

.navigation__desktop {
    display: none;
}

.display-nav {
    display: block;
}

.homepage__navigation--button {
    position: absolute;
    top: 14px;
    right: 28px;
    background: transparent;
    border: none;
    font-size: 25px;
}