html {
    line-height: 24px;
}

body {
    font-family: $main-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
}

.fab {
    font-size: 36px;
    color: #000;
    margin-right: 20px;
}